* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}

body {
  font-family: Arial, "メイリオ", sans-serif;
  background: #fff8f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 18px; 
  width: 100%; 
}

h1 {
  font-size: 25px;
  margin-top: 25px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  margin: 8px 0 20px 0; 
  text-align: center;
  text-decoration: underline dotted #f9522c 4px;
}

h3 {
  font-size: 20px;
  margin: 8px 0 8px 0; 
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 6px;
}

dt, dd {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  word-break: keep-all;
}

ul, li {
  list-style: none;
}

.category {
  margin:  0 auto;
  width: min(68%, 800px);
  background: white;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #fae0c8;
}

.preparation {
  font-size: 17px;
  margin: 6px 0 6px 0; 
  font-weight: bold;
}

.left-margin{
  margin-left: 10px;
}

.text-arrangement {
  padding: 3px 0 3px 0;
}
.text-arrangement li{
  margin-bottom: 10px;
}

.image-insert {
  background-image:url(./tamago.png);
  background-size: cover; 
  width: 150px;
  height: 100px;
  background-position: 50% 50%;
}

.name{
  display: flex;
  width: min(68%, 800px);
  margin:  0 auto;
  text-align: center;
  padding: 20px;
  gap: 0 30px;
}

@media (max-width: 600px) {
  body {
    padding: 12px;
  }
  h1 {
    font-size: 20px;
    margin: 10px 10px ;
    word-break: keep-all;
  } 
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
  ul, li {
    font-size: 15px;
  }

  .category {
    width: 100%;
  }
  .name {
    display: block;
    width: 100%;
  }
  .image-insert{
    background-size: contain; 
    width: 100%;
    height: 50px;
  }
  .left-margin{
    margin-left: 5px;
  }

}
